@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css'; /*#region root*/
:root {
  /* fonts */
  --main-font: "Open+Sans", sans-serif;
  --seondary-font: "Raleway", sans-serif;
  /* text colors*/
  --accent-cl: #FF6C00;
  --main-txt-cl: #555555;
  --services-txt-cl: #9DA4BD;
  --secondary-txt-cl: #FFFFFF;
  --uppertitle: rgba(157, 164, 189, 0.6);
  --subtitle: rgba(157, 164, 189, 1);
  /* background colors */
  --main-bg-cl: #FFFFFF;
  --secondary-bg-cl: #F7F7F7;
  --dark-bg-cl: #191C26;
  /*button colors */
  --btn-dark-cl: #303030;
  /*  grid items*/
  --items: 1;
  --indent: 30px;
  /* animation */
  --transition-duration: 400ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*#endregion*/
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*#region base*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*#endregion*/
.no-scroll {
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

.js-no-transparency {
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function), -webkit-backdrop-filter var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), -webkit-backdrop-filter var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), backdrop-filter var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), backdrop-filter var(--transition-duration) var(--transition-timing-function), -webkit-backdrop-filter var(--transition-duration) var(--transition-timing-function);
  background-color: rgba(16, 18, 27, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.uppertitle {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle::before {
  content: "";
  margin-right: 20px;
  display: block;
  width: 60px;
  height: 1px;
}

.uppertitle--mode-dark {
  color: rgba(157, 164, 189, 0.6);
}

.uppertitle--mode-dark:before {
  background-color: rgba(157, 164, 189, 0.6);
}

.uppertitle--mode-light {
  color: #303030;
}

.uppertitle--mode-light:before {
  background-color: #303030;
}

.section-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 42px;
  }
}

.section-title--mode-light {
  color: #303030;
}

.section-title--mode-dark {
  color: #ffffff;
}

.subtitle {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1280px) {
  .subtitle {
    font-size: 18px;
  }
}

.subtitle-title--mode-light {
  color: #555555;
}

.subtitle-title--mode-dark {
  color: #9da4bd;
}

/*Сетка для коллекции*/
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.grid-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  4% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  8% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  12% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  16% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  4% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  8% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  12% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  16% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes expand {
  0% {
    letter-spacing: -0.6em;
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    letter-spacing: -0.6em;
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-left-to-right {
  from {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-left-to-right {
  from {
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-bootom-to-top {
  from {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-bootom-to-top {
  from {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/* Навигация сайта */
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767.98px) {
  .navigation__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .navigation__list {
    margin-left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__list {
    margin-left: 80px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 40px;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 52px 0 52px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-cl);
}

.navigation__link.current {
  color: var(--accent-cl);
}

.navigation__link.current::after {
  position: absolute;
  bottom: 30px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--accent-cl);
}

/* Стили кнопки */
.btn {
  padding: 12px 20px;
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}
.btn:hover, .btn:focus {
  color: var(--secondary-txt-cl);
  background-color: var(--accent-cl);
}
.btn--mode-light {
  color: var(--btn-dark-cl);
}
.btn--mode-dark {
  color: var(--secondary-txt-cl);
}

.menu-button {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 30px;
  border: 0;
  background-color: transparent;
  fill: white;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: white;
}

.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross {
  fill: var(--btn-dark-cl);
}

.icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

/**
  |============================
  | fixed element
  |============================
*/
.scroll-to-top {
  position: fixed;
  bottom: 80px;
  right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 108, 0);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-animation: slide-top 1s linear 2s infinite alternate both;
          animation: slide-top 1s linear 2s infinite alternate both;
}
@media screen and (min-width: 1280px) {
  .scroll-to-top {
    right: 30px;
  }
}

.arrow-top {
  fill: #fff;
}

/* modal form */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px;
  width: 500px;
  background-color: var(--main-bg-cl);
  border-radius: 2%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

/* початковий стан елемента перед анімацією */
.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

/* кінцевий стан елемента після анімації */
.backdrop .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--btn-dark-cl);
  cursor: pointer;
  -webkit-transition: border var(--transition-duration) var(--transition-timing-function);
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.modal-btn:hover,
.modal-btn:focus {
  border: 1px solid var(--accent-cl);
}

/* modal-form */
.modal-title {
  display: block;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.67;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: currentColor;
}

.modal-form {
  /* Стилізація інпута */
  /* Стилизация иконок */
  /* Стилизация предупреждений */
  /* payment checkbox (радио кнопки) */
  /* chekbox-style */
}
.modal-form__group {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.modal-form__label {
  position: relative;
  display: inline-block;
  font-size: 14px;
}
.modal-form__label::before {
  content: "*";
  position: absolute;
  top: 0;
  right: -12px;
  color: red;
}
.modal-form__input {
  width: 100%;
  padding: 12px 40px;
  border-radius: 5px;
  border: 1px solid #191c26;
  outline: transparent;
}
.modal-form__input:invalid:not(:-moz-placeholder-shown) {
  border-color: #e22f37;
}
.modal-form__input:invalid:not(:-ms-input-placeholder) {
  border-color: #e22f37;
}
.modal-form__input:invalid:not(:placeholder-shown) {
  border-color: #e22f37;
}
.modal-form__input:valid:not(:-moz-placeholder-shown) {
  border-color: #69e883;
}
.modal-form__input:valid:not(:-ms-input-placeholder) {
  border-color: #69e883;
}
.modal-form__input:valid:not(:placeholder-shown) {
  border-color: #69e883;
}
.modal-form__icon {
  position: absolute;
  bottom: 12px;
  left: 10px;
  fill: var(--btn-dark-cl);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal-form__input:valid:not(:-moz-placeholder-shown) ~ .modal-form__icon {
  fill: #69e883;
}
.modal-form__input:valid:not(:-ms-input-placeholder) ~ .modal-form__icon {
  fill: #69e883;
}
.modal-form__input:valid:not(:placeholder-shown) ~ .modal-form__icon {
  fill: #69e883;
}
.modal-form__input:focus ~ .modal-form__icon {
  fill: #ffc039;
}
.modal-form__input:invalid:not(:-moz-placeholder-shown) ~ .modal-form__icon {
  fill: #e22f37;
}
.modal-form__input:invalid:not(:-ms-input-placeholder) ~ .modal-form__icon {
  fill: #e22f37;
}
.modal-form__input:invalid:not(:placeholder-shown) ~ .modal-form__icon {
  fill: #e22f37;
}
.modal-form__alert {
  position: absolute;
  bottom: -22px;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  font-size: 10px;
  opacity: 0;
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}
.modal-form__alert--error {
  color: #e22f37;
}
.modal-form__alert--warning {
  color: #ffc039;
}
.modal-form__alert__icon {
  position: absolute;
  right: 10px;
  bottom: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: currentColor;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal-form__alert-icon--warning {
  fill: #ffc039;
}
.modal-form__alert-icon--error {
  fill: #e22f37;
}
.modal-form__input:focus ~ .modal-form__alert--warning, .modal-form__input:focus ~ .modal-form__alert-icon--warning {
  letter-spacing: 0.01em;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.modal-form__input:not(:-moz-placeholder-shown) ~ .modal-form__alert--warning, .modal-form:not(:-moz-placeholder-shown) ~ .modal-form__alert-icon--warning {
  opacity: 0;
}
.modal-form__input:not(:-ms-input-placeholder) ~ .modal-form__alert--warning, .modal-form:not(:-ms-input-placeholder) ~ .modal-form__alert-icon--warning {
  opacity: 0;
}
.modal-form__input:not(:placeholder-shown) ~ .modal-form__alert--warning, .modal-form:not(:placeholder-shown) ~ .modal-form__alert-icon--warning {
  opacity: 0;
}
.modal-form__input:invalid:not(:-moz-placeholder-shown) ~ .modal-form__alert--error, .modal-form__input:invalid:not(:-moz-placeholder-shown) ~ .modal-form__alert-icon--error {
  letter-spacing: 0.01em;
  opacity: 1;
  transform: scale(1);
}
.modal-form__input:invalid:not(:-ms-input-placeholder) ~ .modal-form__alert--error, .modal-form__input:invalid:not(:-ms-input-placeholder) ~ .modal-form__alert-icon--error {
  letter-spacing: 0.01em;
  opacity: 1;
  transform: scale(1);
}
.modal-form__input:invalid:not(:placeholder-shown) ~ .modal-form__alert--error, .modal-form__input:invalid:not(:placeholder-shown) ~ .modal-form__alert-icon--error {
  letter-spacing: 0.01em;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.modal-form__pay-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-form__pay-group:not(:last-child) {
  margin-right: 20px;
}
.modal-form__pay-option {
  fill: var(--accent-cl);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-filter var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-filter var(--transition-duration) var(--transition-timing-function);
  transition: filter var(--transition-duration) var(--transition-timing-function);
  transition: filter var(--transition-duration) var(--transition-timing-function), -webkit-filter var(--transition-duration) var(--transition-timing-function);
}
.modal-form__checkbox:checked + .modal-form__pay-option {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.modal-form__policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}
.modal-form__custom-checkbox {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  outline: 2px solid var(--accent-cl);
  border-radius: 4px;
  outline-offset: -2px;
}
.modal-form__custom-checkbox-icon {
  opacity: 0;
  fill: var(--main-bg-cl);
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}
.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  background-color: var(--accent-cl);
}
.modal-form__checkbox:checked + .modal-form__custom-checkbox .modal-form__custom-checkbox-icon {
  opacity: 1;
}
.modal-form__link {
  color: var(--accent-cl);
}
.modal-form__policy-description {
  font-size: 14px;
}
.modal-form__submit-btn {
  display: block;
  margin: 0 auto;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

/*Contact-form */
@media screen and (min-width: 1280px) {
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .contact-form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 44px;
  }
}
.contact-form__group {
  position: relative;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .contact-form__group:not(:last-child) {
    margin-right: 30px;
  }
}
.contact-form__label {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
@media screen and (min-width: 768px) {
  .contact-form__label {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: color var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
    transition: color var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
    transition: transform var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
    transition: transform var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  }
}
.contact-form__input:not(:-moz-placeholder-shown) {
  transform: translateY(0);
  color: var(--main-bg-cl);
}
.contact-form__input:not(:-ms-input-placeholder) {
  transform: translateY(0);
  color: var(--main-bg-cl);
}
.contact-form__input:focus + .contact-form__label, .contact-form__input:not(:placeholder-shown) {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  color: var(--main-bg-cl);
}
.contact-form__input {
  width: 100%;
  margin-bottom: 44px;
  color: #FFFFFF;
  background-color: transparent;
  padding: 5px;
  padding-left: 25px;
  border: 0;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 768px) {
  .contact-form__input {
    width: 330px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-form__input {
    width: 245px;
  }
}
.contact-form .contact-form__input:not(:-moz-placeholder-shown) {
  border-bottom: 1px solid #F7F7F7;
}
.contact-form .contact-form__input:not(:-ms-input-placeholder) {
  border-bottom: 1px solid #F7F7F7;
}
.contact-form__input:focus, .contact-form .contact-form__input:not(:placeholder-shown) {
  border-bottom: 1px solid #F7F7F7;
}
.contact-form__input::-webkit-input-placeholder {
  opacity: 0;
}
.contact-form__input::-moz-placeholder {
  opacity: 0;
}
.contact-form__input:-ms-input-placeholder {
  opacity: 0;
}
.contact-form__input::-ms-input-placeholder {
  opacity: 0;
}
.contact-form__input::placeholder {
  opacity: 0;
}
.contact-form__icon {
  position: absolute;
  top: 20%;
  left: 0;
  fill: rgba(157, 164, 189, 0.4);
}
.contact-form__input:not(:-moz-placeholder-shown) {
  fill: var(--main-bg-cl);
}
.contact-form__input:not(:-ms-input-placeholder) {
  fill: var(--main-bg-cl);
}
.contact-form__input:focus ~ .contact-form__icon, .contact-form__input:not(:placeholder-shown) {
  fill: var(--main-bg-cl);
}
.contact-form__message {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 44px;
}
.contact-form__label {
  position: absolute;
  left: 0;
  top: -20px;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.contact-form__message-input:not(:-moz-placeholder-shown) {
  color: var(--main-bg-cl);
}
.contact-form__message-input:not(:-ms-input-placeholder) {
  color: var(--main-bg-cl);
}
.contact-form__message-input:focus + .contact-form__label, .contact-form__message-input:not(:placeholder-shown) {
  color: var(--main-bg-cl);
}
.contact-form__message-input {
  padding: 5px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  width: 100%;
  resize: none;
  outline: transparent;
  color: var(--main-bg-cl);
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}
.contact-form__message-input:not(:-moz-placeholder-shown) {
  border-bottom: 1px solid #F7F7F7;
}
.contact-form__message-input:not(:-ms-input-placeholder) {
  border-bottom: 1px solid #F7F7F7;
}
.contact-form__message-input:focus, .contact-form__message-input:not(:placeholder-shown) {
  border-bottom: 1px solid #F7F7F7;
}
.contact-form__message-input::-webkit-input-placeholder {
  opacity: 0;
}
.contact-form__message-input::-moz-placeholder {
  opacity: 0;
}
.contact-form__message-input:-ms-input-placeholder {
  opacity: 0;
}
.contact-form__message-input::-ms-input-placeholder {
  opacity: 0;
}
.contact-form__message-input::placeholder {
  opacity: 0;
}
.contact-form__bnt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 84px;
  min-width: 200px;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

/* Слайдер */
@media screen and (max-width: 767.98px) {
  .slider {
    display: none;
  }
}

.slider__controls {
  position: absolute;
  right: 39px;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1280px) {
  .slider__controls {
    right: 0;
    bottom: 40px;
  }
}

.slider__item-controls:not(:last-child) {
  margin-right: 26px;
}

.slider__btn {
  width: 60px;
  height: 24px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: right;
  letter-spacing: 0.1em;
  color: var(--main-bg-cl);
  background-color: transparent;
  cursor: pointer;
  border: 0;
  border-bottom: 1px solid var(--main-bg-cl);
}

.slider__btn--disable {
  text-align: left;
  color: var(--uppertitle);
  border-bottom: 1px solid var(--uppertitle);
  position: relative;
  top: 0px;
}

.slider__pagination {
  position: absolute;
  top: 50%;
  right: 39px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 18px;
}
@media screen and (min-width: 1280px) {
  .slider__pagination {
    right: 0;
  }
}

.slider__item {
  margin-left: auto;
  margin-bottom: 12px;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}

.slider__item:last-child {
  margin-bottom: 0;
}

.slider__item--active {
  width: 100%;
  background-color: var(--main-bg-cl);
}

/* Ссылки на соц.сети */
.social-links-list:before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: var(--btn-dark-cl);
}

.social-links-item:not(:last-child) {
  margin-right: 40px;
}

.social-links-item-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--btn-dark-cl);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.social-links-item-link:hover,
.social-links-item-link:focus {
  color: var(--accent-cl);
}

/**
  |============================
  | chat-menu
  |============================
*/
.chat-menu {
  position: fixed;
  right: 30px;
  bottom: 90px;
}
.chat-menu__btn {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(https://gist.githubusercontent.com/yazdipour/91dea3fdf97dba702ed89a6a1b9a98a7/raw/8c4870d4fda64c6f8dbf9d12d579d1ad66c3f360/rainbowcat.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10;
}
.chat-menu__list {
  position: absolute;
  top: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.chat-menu__item {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.chat-menu__btn:hover ~ .chat-menu__list .chat-menu__item {
  -webkit-transform: translateY(calc(var(--item) * -30px)) translateX(-50%);
          transform: translateY(calc(var(--item) * -30px)) translateX(-50%);
}
.chat-menu__icon {
  fill: var(--accent-cl);
}

.mobile-menu {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  width: 337px;
  height: 100vh;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  display: none;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}
.mobile-menu__nav {
  padding-top: 78px;
  font-weight: 600;
  font-size: 18px;
  line-height: 2.78;
  letter-spacing: 0.1em;
  text-align: left;
  color: var(--btn-dark-cl);
  margin-bottom: 64px;
  z-index: 1;
}
.mobile-menu__contact {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-menu__phone-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--btn-dark-cl);
  margin-bottom: 24px;
}
.mobile-menu__btn {
  display: block;
  margin-bottom: 64px;
}
.mobile-menu__socials {
  font-weight: 600;
  font-size: 14px;
  line-height: 3.57;
  letter-spacing: 0.2em;
  color: var(--btn-dark-cl);
}

@media screen and (max-width: 767.98px) {
  .mobile-menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*#region header*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: rgba(24, 27, 37, 0.4); */
  z-index: 1;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-top: 20px;
}

@media screen and (max-width: 767.98px) {
  .logo__svg {
    fill: var(--main-bg-cl);
  }
}

.header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .header__group {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .header__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.header__phone {
  display: block;
  color: var(--secondary-txt-cl);
  font-weight: 600;
  font-size: 12px;
  line-height: 0.11;
  letter-spacing: 0.1em;
  text-decoration: none;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .header__phone {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .header__phone {
    margin-right: 40px;
  }
}

.header__phone:hover,
.header__phone:focus {
  color: var(--accent-cl);
}

.header__btn {
  -webkit-animation: swing 6s ease-in-out infinite forwards;
          animation: swing 6s ease-in-out infinite forwards;
}

/*#endregion*/
/*#region hero*/
.hero {
  max-width: 480px;
  min-height: 580px;
  margin: 0 auto;
  background-color: var(--dark-bg-cl);
  background-image: url("/src/images/slider/slider-img-3.jpg") -webkit-gradient(linear, left top, right top, color-stop(12%, #fff), color-stop(12%, #191C26));
  background-image: url("/src/images/slider/slider-img-3.jpg") linear-gradient(to right, #fff 12%, #191C26 12%);
  background-size: 480px 680px, contain;
  background-position: top right, center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .hero {
    min-height: 680px;
    max-width: 720px;
    background-image: url("/src/images/slider/slider-img-3.jpg"), -webkit-gradient(linear, left top, right top, color-stop(15%, #fff), color-stop(15%, #191C26));
    background-image: url("/src/images/slider/slider-img-3.jpg"), linear-gradient(to right, #fff 15%, #191C26 15%);
    background-size: 615px 680px, contain;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    max-width: 1280px;
    background-size: 1125px 680px, contain;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.hero__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100px;
}
@media screen and (max-width: 767.98px) {
  .hero__left-side {
    display: none;
  }
}
.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg) translateY(100%);
          transform: rotate(-90deg) translateY(100%);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.hero__list::before {
  content: "";
  display: block;
  width: 60px;
  border-bottom: 1px solid;
  margin-right: 40px;
  color: var(--btn-dark-cl);
}
.hero__item:not(:last-child) {
  margin-right: 40px;
}
.hero__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--btn-dark-cl);
  -webkit-transition: var(--transition-duration) var(--transition-timing-function);
  transition: var(--transition-duration) var(--transition-timing-function);
}
.hero__link:hover, .hero__link:focus {
  color: var(--accent-cl);
}
.hero__group {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 31px;
  margin-top: 208px;
  margin-bottom: 183px;
}
@media screen and (min-width: 768px) {
  .hero__group {
    margin-top: 272px;
    margin-left: 120px;
    margin-bottom: 181px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__group {
    margin-left: 100px;
    margin-bottom: 206px;
  }
}
.hero__uppertitle {
  -webkit-animation: fade-left-to-right 0.6s var(--transition-timing-function);
          animation: fade-left-to-right 0.6s var(--transition-timing-function);
}
.hero__subtitle {
  width: 476px;
  -webkit-animation: fade-bootom-to-top 2s var(--transition-timing-function);
          animation: fade-bootom-to-top 2s var(--transition-timing-function);
}

.main-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--main-bg-cl);
  -webkit-animation: fade-left-to-right 1s ease-out;
          animation: fade-left-to-right 1s ease-out;
}
@media screen and (min-width: 1280px) {
  .main-title {
    font-size: 72px;
  }
}

/*#endregion*/
/*#region about*/
@media screen and (min-width: 768px) {
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767.98px) {
  .about-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about-list {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .about-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
.about-list__item {
  overflow: hidden;
}
@media screen and (min-width: 1280px) {
  .about-list__item {
    margin-right: 30px;
  }
}
.about-list__img {
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}
.about-list__item:hover .about-list__img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media screen and (min-width: 768px) {
  .about__group {
    width: 330px;
  }
}
@media screen and (min-width: 1280px) {
  .about__group {
    width: 500px;
  }
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__description {
  margin-bottom: 40px;
}

/*#endregion*/
/*#region services*/
.services {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/src/images/price/price-bg_sm.png"), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
  background-image: url("/src/images/price/price-bg_sm.png"), linear-gradient(to bottom, #191c26, #191c26);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .services {
    background-image: url("/src/images/price/price-bg_sm@2x.png"), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: url("/src/images/price/price-bg_sm@2x.png"), linear-gradient(to bottom, #191c26, #191c26);
  }
}
@media screen and (min-width: 768px) {
  .services {
    background-image: url("/src/images/price/price-bg_md.png"), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: url("/src/images/price/price-bg_md.png"), linear-gradient(to bottom, #191c26, #191c26);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .services {
    background-image: url("/src/images/price/price-bg_md@2x.png"), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: url("/src/images/price/price-bg_md@2x.png"), linear-gradient(to bottom, #191c26, #191c26);
  }
}
@media screen and (min-width: 1280px) {
  .services {
    background-image: url("/src/images/price/price-bg_lg.png"), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: url("/src/images/price/price-bg_lg.png"), linear-gradient(to bottom, #191c26, #191c26);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .services {
    background-image: url("/src/images/price/price-bg_lg@2x.png"), -webkit-gradient(linear, left top, left bottom, from(#191c26), to(#191c26));
    background-image: url("/src/images/price/price-bg_lg@2x.png"), linear-gradient(to bottom, #191c26, #191c26);
  }
}

.price-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  font-size: 14px;
  padding: 30px 30px;
  padding-bottom: 0;
}
@media screen and (min-width: 1280px) {
  .price-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .price-list__item {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .price-list__item--left-side {
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1280px) {
  .price-list__item--right-side {
    background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
.price-list__inner-list {
  width: 100%;
  height: 100%;
  display: block;
  padding-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .price-list__inner-list {
    padding: 30px 40px;
  }
}
.price-list__inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--services-txt-cl);
}
.price-list__inner-item:not(:last-child) {
  margin-bottom: 20px;
}
.price-list__inner-item span:last-of-type {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.price-list__inner-item::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: rgba(157, 164, 189, 0.12);
}

.services__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*#endregion*/
/*#region benefits*/
.benefits {
  background-color: var(--main-bg-cl);
}
.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 1280px) {
  .benefits__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.benefits-list {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: auto;
}
.benefits-list__item {
  width: 170px;
  padding: 20px;
  background-color: var(--secondary-bg-cl);
}
.benefits-list__item:nth-child(2n) {
  margin-left: 30px;
  margin-top: 30px;
}
.benefits-list__amount {
  position: relative;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--btn-dark-cl);
}
.benefits-list__amount--decor {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-cl);
}
.benefits-list__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  letter-spacing: normal;
  text-align: center;
  color: var(--btn-dark-cl);
}

.benefits-group {
  width: 430px;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .benefits-group {
    width: 500px;
  }
}
@media screen and (min-width: 1280px) {
  .benefits-group {
    margin-left: 130px;
  }
}

/*#endregion*/
/*#region members*/
.member {
  background-color: var(--secondary-bg-cl);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* member-card */
}
.member__item {
  --items:1;
}
@media screen and (min-width: 1280px) {
  .member__item {
    --items:3;
  }
}
.member__img {
  margin-bottom: 30px;
}
.member__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--btn-dark-cl);
  margin-bottom: 8px;
}
.member__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-cl);
  margin-bottom: 30px;
}

/* Social icons */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--main-bg-cl);
  color: var(--btn-dark-cl);
  border-radius: 50%;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}
.socials__link:hover, .socials__link:focus {
  color: var(--accent-cl);
}
.socials__icon {
  fill: currentColor;
}

/*#endregion*/
/*#region gallery*/
.gallery {
  background-color: var(--main-bg-cl);
}
.gallery__uppertitle {
  margin-bottom: 44px;
}

.gallery-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery-list__item {
  position: relative;
  --items: 1;
}
@media screen and (min-width: 768px) {
  .gallery-list__item {
    --items: 1;
  }
}
@media screen and (min-width: 1280px) {
  .gallery-list__item {
    --items: 4;
  }
}
.gallery-list__item::before {
  position: absolute;
  left: 0;
  top: 0;
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .gallery-list__img {
    width: 330px;
    height: 360px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery-list__img {
    width: 270px;
    height: 360px;
  }
}

/*#endregion*/
/*#region contacts*/
.contacts {
  background-image: url("/src/images/contact/Bg.png");
  background-size: 480px 680px contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: var(--dark-bg-cl);
}
@media screen and (min-width: 768px) {
  .contacts {
    background-size: 768px 960px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    background-position: top left calc(50% + 312px);
  }
}
@media screen and (min-width: 1280px) {
  .contacts__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .contact {
    width: 50%;
  }
}
.contact__time-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}
.contact__time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--services-txt-cl);
}

.contact--left-side {
  background-color: var(--dark-bg-cl);
}
@media screen and (min-width: 768px) {
  .contact--left-side {
    width: 690px;
  }
}
@media screen and (min-width: 1280px) {
  .contact--left-side {
    width: 560px;
  }
}

.contact__section-title {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .contact__section-title {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .contact--right-side {
    margin-left: 100px;
  }
}

.icons-list {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--services-txt-cl);
}
.icons-list__item:not(:last-child) {
  margin-bottom: 20px;
}
.icons-list__item:nth-last-child(1) {
  margin-bottom: 70px;
  text-decoration: underline;
}
.icons-list__icon {
  margin-right: 16px;
  fill: transparent;
}

/*#endregion*/
/*#region footer*/
.footer {
  background-color: var(--main-bg-cl);
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--services-txt-cl);
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.footer-links::before {
  content: "";
  display: block;
  width: 60px;
  border-bottom: 1px solid;
  margin-right: 40px;
  color: var(--btn-dark-cl);
}
.footer-links__item:not(:last-child) {
  margin-right: 40px;
}
.footer-links__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--btn-dark-cl);
}
.footer-links__link:hover, .footer-links__link:focus {
  color: var(--accent-cl);
}

/*#endregion*//*# sourceMappingURL=index.css.map */