
// breakpoints
// 1. 480px
// 2. 768px
// 3. 1200px

.container {
    padding-left: 15px;
    padding-right: 15px;
    
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid tomato;
   
 // mobile sreen from 480px
 @include mq(mobile) {
      width: 448px;
    }

  // tablet sreen from 768px
  @include mq(tablet) {
    width: 720px;
  }

  // desktop sreen from 1200px
  @include mq(desktop) {
    width: 1200px;
  }
}


