/*#region services*/
.services {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // Загрузка фонового изображения для мобильного
    background-image: url('../images/price/price-bg_sm.png'), linear-gradient(to bottom, #191c26, #191c26);
    // Загрузка 2х ретина  изображения для мобильного
  @include mq(retina) {
    background-image: url('../images/price/price-bg_sm@2x.png'), linear-gradient(to bottom, #191c26, #191c26);
  }
    // Загрузка фонового изображения для таблетки
  @include mq(tablet) {
    background-image: url('../images/price/price-bg_md.png'), linear-gradient(to bottom, #191c26, #191c26);
    // Загрузка 2х ретина изображения для таблетки
    @include mq(retina) {
      background-image: url('../images/price/price-bg_md@2x.png'), linear-gradient(to bottom, #191c26, #191c26);
    }
  }
    // Загрузка фонового изображения для desktop
  @include mq(desktop) {
    background-image: url('../images/price/price-bg_lg.png'), linear-gradient(to bottom, #191c26, #191c26);
    // Загрузка 2x ретина изображения для desktop
    @include mq(retina) {
      background-image: url('../images/price/price-bg_lg@2x.png'), linear-gradient(to bottom, #191c26, #191c26);
    }
  }
  }
  

  .price-list {
    align-items: center;
    margin-bottom: 50px;
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    font-size: 14px;
    padding: 30px 30px;
    padding-bottom: 0;


    @include mq(desktop) {
      display: flex;
      background: transparent;
      padding:0;
    }



    &__item {
      @include mq(desktop) { 
        width: calc(100%/2);
      }
      }

    &__item--left-side {
      @include mq(desktop) { 
        background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
      }
      }

    &__item--right-side {
      @include mq(desktop) { 
        background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
      }
      }

      &__inner-list {
        width: 100%;
        height: 100%;
        display: block;
        padding-bottom: 20px;
        @include mq(desktop) { 
          padding: 30px 40px;
        }
      }

      &__inner-item {
        display: flex;
        align-items: baseline;
      
        font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: var(--services-txt-cl);
      }

      &__inner-item:not(:last-child) {

        margin-bottom: 20px;
      }

      &__inner-item span:last-of-type{
        order: 2;
      }

      &__inner-item::after {
        content: '';
        flex-grow: 1;
        order: 1;
        height: 1px;
        margin-left: 6px;
        margin-right: 6px;
      
        background-color: rgba(157, 164, 189, 0.12);
      }
  }

  .services__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /*#endregion*/